 <div class="contenedor">
        <p class="copy">My Cats &copy; 2015</p>
        <div class="sociales">
            <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a  href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
    </div>